<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="contenedor_total">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main class="">
            <div class="contenedor_about row justify-content-center">
                <div class="col-7 align-items-self about_div">
                    <h2>NOSOTROS</h2>
                    <div class="row">
                        <p class="col-8">Somos la empresa más competente en el comercio online del país, en la cual los
                            clientes
                            pueden descubrir una gran variedad de productos a disposición además de promocionar sus
                            propios emprendimientos.</p>
                        <img src="./assets/bolishop.png" alt="" width="150px" height="150px" class="col-2">
                    </div>
                </div>
                <div class="col-7 align-items-self about_div">
                    <h2>NUESTRO PROPÓSITO</h2>
                    <div class="row">
                        <img src="./assets/bolishop.png" alt="" width="150px" height="150px" class="col-2">
                        <p class="col-8">Bolishop nace con la idea de ser la mejor tienda online a nivel nacional, con
                            el mejor equipo
                            de trabajo estamos comprometidos al crecimiento potencial de nuestra empresa de la mano de
                            nuestros emprendedores.</p>
                    </div>
                </div>
                <div class="col-7 align-items-self about_div">
                    <div class="row">
                        <p class="col-8">Además de impulsar los emprendimientos de toda nuestra población digitalizando sus productos
                            y permitiendo que lleguen a un público mayor, creando así oportunidades económicas para
                            todos.</p>
                        <img src="./assets/bolishop.png" alt="" width="150px" height="150px" class="col-2">
                    </div>
                </div>
            </div>


        </main>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>