<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="contenedor_total">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <div class="row">
            <div class="col-3">
                <%- include('../partials/lateral'); %>
            </div>
            <main class="col-8">
                <h1>Nosotros</h1>
                <div>
                    <img src="" alt="">
                    <p></p>
                </div>
            </main>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>