<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="contenedor_total">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <div class="row">
            <div class="col-3">
                <%- include('../partials/lateral'); %>
            </div>
            <main class="col-8">
                <div class="row">
                    <div class="col-4">
                        <h2>uno</h2>
                    </div>
                    <div class="col-4">
                        <h2>dos</h2>
                    </div>
                    <div class="col-4">
                        <h3>tres</h3>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>