<div class="align-items-center pie_pagina">
    <div class="row">
        <div class="col-6">
            <p>Infromación de contacto</p>
            <p>Correo Electrónico: bolishopb@gmail.com</p>
            <p>Dirección: C. Capitán Ravelo #2406</p>
        </div>
        <div class="col-6">
            <p><a href="https://goo.gl/maps/c4C5Dgr26599Dbhz9" target="_blank">Ubicación</a></p>
            <p><a href="">Preguntas frecuentes</a></p>
            <p><a href="/about">Sobre nosotros</a></p>
        </div>
    </div>
</div>