<div class="row justify-content-between align-items-center cabecera">
    <div class="col-2">
        <a href="/"><img src="./assets/bolishop.png" alt="" width="150px" height="150px"></a>
    </div>
    <div class="col-7">
        <nav class="navbar navbar-expand-lg contenedor-p-nav">
            <div class="container-fluid contenedor-navegacion">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="select">
                        <select>
                            <option value="">CATEGORÍAS</option>
                            <option value="opcion-1">Accesorios para mujeres</option>
                            <option value="opcion-2">Artículos electrónicos</option>
                            <option value="opcion-3">Tomatodo</option>
                        </select>
                    </div>
                    <div class="navbar-nav navegacion">
                        <a class="nav-link" href="#">TIENDA</a>
                        <a class="nav-link" href="#">ZONA DE MARCA</a>
                        <a class="nav-link" href="#">OFERTAS</a>
                        <a class="nav-link" href="#">MARKETING Y PUBLICIDAD</a>
                        <a class="nav-link" href="/signin">INICIAR SESIÓN</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-3">
        <div class="col buscador">
            <input type="search" id="search" placeholder="Buscar..." class="" />
        </div>
        <!-- <div class="row col carrito">
            <p class="col">60.00 Bs.</p>
            <img src="./assets/carrito.png" alt="" width="20px" height="20px">
        </div> -->
    </div>
</div>



<!-- <div class="row justify-content-between">
    <div class="col-4">
        <a href="#"><img src="/src/assets/bolishop.png" class="rounded" alt="logo bolishop"></a>
    </div>
    <div class="row col-4 seccion_buscador">
        <div class="col buscador">
            <input type="search" id="search" placeholder="Buscar..." class="" />
        </div>
        <div class="row col carrito">
            <p class="col">60.00 Bs.</p>
            <img src="../../assets/carrito.png" alt="" class="col">
        </div>
    </div>
    <div class="col-4 seccion_sesion">
        <button type="button" class="btn btn-outline-danger">Registrar o iniciar sesión</button>
    </div>
</div> -->