<div class="card">
    <div class="container">
        <h3>CATEGORÍAS PRINCIPALES</h3>
        <ul>
            <li><a href="#">Electrónica</a></li>
            <li><a href="#">Gamer</a></li>
            <li><a href="#">Deportes</a></li>
            <li><a href="#">Belleza</a></li>
            <li><a href="#">Para el hogar</a></li>
            <li><a href="#">Accesorios para computadoras</a></li>
        </ul>
        <h3>MÁS CATEGORÍAS</h3>
        <ul>
            <li><a href="#">Tomatodos</a></li>
            <li><a href="#">Peluches</a></li>
            <li><a href="#">Regalos</a></li>
            <li><a href="#">Para hombres</a></li>
            <li><a href="#">Juguetes</a></li>
        </ul>

    </div>
    <!-- <div class="row justify-content-between redes">
        <div class="col-3 redes-cont">
            <a href="#">
                <img src="https://www.unipile.com/wp-content/uploads/2022/06/logo-facebook.png" alt="">
            </a>
        </div>
        <div class="col-3 redes-cont">
            <a href="#">
                <img src="./assets/tiktok.png" alt="">
            </a>
        </div>
        <div class="col-3 redes-cont">
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"
                    alt="">
            </a>
        </div>
    </div> -->
</div>